<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        Link To the Profile
      </h4>
    </div>
    <div class="panel-body">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :link, 'Profile Web Link' %><br />
          <%= f.text_field :link, class: 'form-control' %>
          <p class="help-block">Default link is Google Plus</p>
        </div>
        <div class="actions">
          <%= f.submit "Update Link", class: 'btn btn-primary' %>
          <%= link_to  "Reset to default", default_url_users_path(u: @user.username), :method => :post, :class => 'btn btn-primary', :role  => "button" %> 
        </div>
      <% end %>
    </div>
</div>
