<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-6">
    <h1>Users</h1>
  </div>
  <div  class="col-xs-6 text-right">
    <% if current_user %>
      Signed in as <strong><%= current_user.username %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>
</div>
<% if current_user %>
  <%= link_to "<i class='fa fa-refresh'></i> LDAP".html_safe, import_users_path, :method => :post, :class => 'btn' %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :sn, 'Last Name', default_order: :asc) %></th>
      <th><%= sort_link(@q, :givenname, 'Given Name', default_order: :asc)  %></th>
      <th><%= sort_link(@q, :title, 'Title', default_order: :asc)  %></th>
      <th>Extension</th>
      <th><%= sort_link(@q, :physicaldeliveryofficename, 'Site', default_order: :asc)  %></th>
      <th><%= sort_link(@q, :updated_at, 'Updated', default_order: :desc)  %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= content_tag :tr, class: ("danger" if user.disabled?) do -%>
        <td><%= link_to user.sn, user %></td>
        <td><%= link_to user.givenname, user %></td>
        <td><%= user.title %></td>
        <td><%= user.ipphone%></td>
        <td><%= user.physicaldeliveryofficename %></td>
        <td><%= local_time(user.updated_at, :short) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
