<!DOCTYPE html>
<html>
  <head>
    <title>Directory</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              PUHSD Directory
            </a>

            <% if UserPolicy.new(current_user,nil).import? %>

              <ul class="nav navbar-nav">
                <li>
                  <%= link_to "<i class='fa fa-refresh'></i> Full LDAP Sync".html_safe, import_users_path, :method => :post, :class => 'btn' %>
                </li>
              </ul>
            <% end %>


            <%= form_tag('/', method: :put, class: "navbar-form navbar-left") do %>
              <div class="form-group">
                  <%= text_field_tag(nil, nil, placeholder: "Search", class: "form-control") %>
              </div>
              <%= submit_tag("Search", class: "btn btn-default") %>
            <% end %>


          </div>
          <p class="navbar-text navbar-right" style="padding-right:10px;">
            <% if current_user %>
              Signed in as <strong><%= current_user.username %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out", class: "navbar-link" %>
            <% else %>
              <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "navbar-link" %>
            <% end %>
          </p>
        </div>

      </nav>
    </header>

    <!-- <p id="notice" class="alert-success"></p> -->
    <% if notice %>
      <div class="container alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
