<!DOCTYPE html>
<html>
  <head>
    <title>Directory</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              PUHSD Directory
            </a>

            <% if UserPolicy.new(current_user,nil).import? %>

              <ul class="nav navbar-nav">
                <li>
                  <%= link_to "Titles".html_safe, titles_path, :class => 'btn' %>
                </li>
                <li>
                  <%= link_to "<i class='fa fa-refresh'></i> Full LDAP Sync".html_safe, import_users_path, :method => :post, :class => 'btn' %>
                </li>
              </ul>
            <% end %>


          </div>
          <p class="navbar-text navbar-right" style="padding-right:10px;">
            <% if current_user %>
              Signed in as <strong><%= link_to current_user.displayname, user_path(current_user) %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out", class: "navbar-link" %>
            <% else %>
              <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "navbar-link" %>
            <% end %>
          </p>
        </div>

      </nav>
    </header>

    <!-- <p id="notice" class="alert-success"></p> -->
    <div class="container">
      <% flash.each do |msg_type, message| %>
        <%= content_tag(:div, message, class: "alert #{bootstrap_class_for(msg_type)} alert-dismissible", role: 'alert') do %>
          <%= content_tag(:button, class: 'close', data: { dismiss: 'alert' }) do %>
            <%= content_tag(:span, '&times;'.html_safe, 'aria-hidden' => true) %>
            <%= content_tag(:span, 'Close', class: 'sr-only') %>
          <% end %>
          <%= message %>
        <% end %>
      <% end %>
      <%# flash_messages %>

      <%= yield %>

    </div>
  </body>
</html>
